 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE2D2;
    
}
 
header {
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(to right, #FFFFFF, #FF7523);
    color: #fff;
    display: flex;
    align-items: center;
}

nav{
    margin: 15px;
}

nav ul {
    list-style:none;
    display: flex;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

nav ul li{
    margin: 10px;
}

nav ul li a {
    cursor: pointer;
    display: block;
    border-radius: 8px;
    padding: 10px 24px;
    background-color: #E15503;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background-color:#E97734;
}
 
.header-login {
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.header-login form,
.header-login .header-signup {
    display: inline;
}
 
.header-login input[type="text"],
.header-login input[type="password"] {
    padding: 5px;
    border: 1px solid #7B6F65;
    border-radius: 5px;
}
 
.header-login button,
.header-login a.header-signup {
    background-color: #E15503;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
 
    text-decoration: none;
   
}
 
.header-login button[name="logout-submit"] {
    background-color: #E15503;
}

footer{
    background-color: #000000;
    color: white; 
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
}
 
